In [30]:
%matplotlib inline
import warnings
warnings.simplefilter('ignore')
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split as split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC 
from sklearn import metrics
from sklearn.metrics import classification_report

In [56]:
A1G = pd.read_csv("../CSVs/A1Grevised.csv")
GM = pd.read_csv("../CSVs/GMrevised.csv")
CSX = pd.read_csv("../CSVs/CSXrevised.csv")
BA = pd.read_csv("../CSVs/BArevised.csv")

In [57]:
A1G.head()

,Date,Open,High,Low,Close,Adj Close,Volume,P/N,Daily_Change,Daily_%_Change,Future_Change,compound,neg,neu,pos
0,01/02/2018,43.400002,43.400002,43.000000,43.400002,42.144642,420.0,Negative,NaN,NaN,-0.000000,0.567400,0.080154,0.709692,0.210231
1,01/03/2018,43.799999,43.799999,43.400002,43.400002,42.144642,125.0,Negative,0.000000,0.00000,-0.000000,0.113950,0.094750,0.782750,0.122500
2,01/04/2018,43.400002,43.799999,43.400002,43.400002,42.144642,72.0,Negative,0.000000,0.00000,0.199996,-0.029990,0.113300,0.779300,0.107300
3,01/05/2018,43.400002,44.000000,43.400002,43.599998,42.338856,60.0,Positive,0.199996,0.46082,-0.000000,-0.083683,0.072833,0.851667,0.075833
4,01/08/2018,43.799999,43.799999,43.599998,43.599998,42.338856,0.0,Negative,0.000000,0.00000,0.600003,0.169057,0.062143,0.839000,0.099000

In [4]:
BA.head()

,Date,Open,High,Low,Close,Adj Close,Volume,P/N,Daily_Change,Daily_%_Change,Future_Change,compound,neg,neu,pos
0,01/02/2018,295.750000,296.989990,295.399994,296.839996,284.569489,2978900,Positive,NaN,NaN,0.959992,0.567400,0.080154,0.709692,0.210231
1,01/03/2018,295.940002,298.500000,295.470001,297.799988,285.489807,3211200,Positive,0.959992,0.323404,-1.129975,0.113950,0.094750,0.782750,0.122500
2,01/04/2018,297.940002,298.420013,295.470001,296.670013,284.406555,4171700,Negative,-1.129975,-0.379441,12.169983,-0.029990,0.113300,0.779300,0.107300
3,01/05/2018,296.769989,308.890015,296.720001,308.839996,296.073425,6177700,Positive,12.169983,4.102195,1.309998,-0.083683,0.072833,0.851667,0.075833
4,01/08/2018,308.660004,310.859985,305.750000,310.149994,297.329315,4124900,Positive,1.309998,0.424167,8.279999,0.169057,0.062143,0.839000,0.099000

In [5]:
CSX.head()

,Date,Open,High,Low,Close,Adj Close,Volume,P/N,Daily_Change,Daily_%_Change,Future_Change,compound,neg,neu,pos
0,01/02/2018,55.630001,56.630001,55.020000,56.340000,54.840424,5881300,Positive,NaN,NaN,0.709999,0.567400,0.080154,0.709692,0.210231
1,01/03/2018,56.160000,57.250000,56.060001,57.049999,55.531528,7735800,Positive,0.709999,1.260204,-0.270000,0.113950,0.094750,0.782750,0.122500
2,01/04/2018,57.349998,57.959999,56.639999,56.779999,55.268707,5840300,Negative,-0.270000,-0.473269,0.940002,-0.029990,0.113300,0.779300,0.107300
3,01/05/2018,57.580002,57.950001,56.919998,57.720001,56.183697,6308800,Positive,0.940002,1.655516,1.020001,-0.083683,0.072833,0.851667,0.075833
4,01/08/2018,57.340000,58.970001,57.340000,58.740002,57.176540,6224700,Positive,1.020001,1.767153,0.519996,0.169057,0.062143,0.839000,0.099000

In [6]:
GM.head()

,Date,Open,High,Low,Close,Adj Close,Volume,P/N,Daily_Change,Daily_%_Change,Future_Change,compound,neg,neu,pos
0,01/02/2018,41.240002,41.869999,41.150002,41.799999,38.536655,6934600,Positive,NaN,NaN,1.020001,0.567400,0.080154,0.709692,0.210231
1,01/03/2018,42.209999,42.950001,42.200001,42.820000,39.477020,14591600,Positive,1.020001,2.440194,1.319999,0.113950,0.094750,0.782750,0.122500
2,01/04/2018,43.090000,44.250000,43.009998,44.139999,40.693970,17298700,Positive,1.319999,3.082669,-0.130001,-0.029990,0.113300,0.779300,0.107300
3,01/05/2018,44.500000,44.639999,43.959999,44.009998,40.574112,9643300,Negative,-0.130001,-0.294520,0.210003,-0.083683,0.072833,0.851667,0.075833
4,01/08/2018,44.040001,44.590000,43.520000,44.220001,40.767723,13099600,Positive,0.210003,0.477171,-0.170002,0.169057,0.062143,0.839000,0.099000

### SVM models per stock

In [65]:
A1G = A1G[["compound","pos","neu","neg","P/N"]]

A1G.head()

   compound       pos       neu       neg        P/N
0  0.567400  0.210231  0.709692  0.080154  Negative
1  0.113950  0.122500  0.782750  0.094750  Negative
2 -0.029990  0.107300  0.779300  0.113300  Negative
3 -0.083683  0.075833  0.851667  0.072833   Positive
4  0.169057  0.099000  0.839000  0.062143  Negative

In [66]:
#Split data into training and testing
X_train, X_test, y_train, y_test = split(A1G[["compound","pos","neu","neg"]],A1G[["P/N"]])

In [67]:
X_scaler = StandardScaler()
#y_scaler = StandardScaler()

In [68]:

#normalizing
X_scaler.fit(X_train)
#y_scaler.fit(y_train)

X_train = X_scaler.transform(X_train)
X_test = X_scaler.transform(X_test)
#y_train = y_scaler.transform(y_train)
#y_test = y_scaler.transform(y_test)

print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(374, 4) (125, 4) (374, 1) (125, 1)

In [74]:
# Fit to the training data and validate with the test data
A1Gmodel = SVC(kernel='linear')
A1Gmodel.fit(X_train, y_train)
#Prediction
y_pred = A1Gmodel.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred, average="binary", pos_label="Positive" ))
print("Recall:",metrics.recall_score(y_test, y_pred, average = "binary", pos_label = "Positive"))

Accuracy: 0.616
Precision: 0.616
Recall: 1.0

In [76]:
BA = BA[["compound","pos","neu","neg","P/N"]]

BA.head()

   compound       pos       neu       neg        P/N
0  0.567400  0.210231  0.709692  0.080154   Positive
1  0.113950  0.122500  0.782750  0.094750   Positive
2 -0.029990  0.107300  0.779300  0.113300  Negative
3 -0.083683  0.075833  0.851667  0.072833   Positive
4  0.169057  0.099000  0.839000  0.062143   Positive

In [77]:
#Split data into training and testing
X_train, X_test, y_train, y_test = split(BA[["compound","pos","neu","neg"]],BA[["P/N"]])

In [78]:
X_scaler = StandardScaler()
#y_scaler = StandardScaler()

In [79]:
#normalizing
X_scaler.fit(X_train)
#y_scaler.fit(y_train)

X_train = X_scaler.transform(X_train)
X_test = X_scaler.transform(X_test)
#y_train = y_scaler.transform(y_train)
#y_test = y_scaler.transform(y_test)

print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(374, 4) (125, 4) (374, 1) (125, 1)

In [81]:
# Fit to the training data and validate with the test data
BAmodel = SVC(kernel='linear')
BAmodel.fit(X_train, y_train)
#Prediction
y_pred = BAmodel.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred, average="binary", pos_label="Positive" ))
print("Recall:",metrics.recall_score(y_test, y_pred, average = "binary", pos_label = "Positive"))

Accuracy: 0.544
Precision: 0.5
Recall: 0.6491228070175439

In [82]:
CSX = CSX[["compound","pos","neu","neg","P/N"]]

CSX.head()

   compound       pos       neu       neg        P/N
0  0.567400  0.210231  0.709692  0.080154   Positive
1  0.113950  0.122500  0.782750  0.094750   Positive
2 -0.029990  0.107300  0.779300  0.113300  Negative
3 -0.083683  0.075833  0.851667  0.072833   Positive
4  0.169057  0.099000  0.839000  0.062143   Positive

In [83]:
X_train, X_test, y_train, y_test = split(CSX[["compound","pos","neu","neg"]],CSX[["P/N"]])

In [84]:
X_scaler = StandardScaler()

In [85]:
#normalizing
X_scaler.fit(X_train)

X_train = X_scaler.transform(X_train)
X_test = X_scaler.transform(X_test)

print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(374, 4) (125, 4) (374, 1) (125, 1)

In [87]:
# Fit to the training data and validate with the test data
CSXmodel = SVC(kernel='linear')
CSXmodel.fit(X_train, y_train)
#Prediction
y_pred = CSXmodel.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred, average="binary", pos_label="Positive" ))
print("Recall:",metrics.recall_score(y_test, y_pred, average = "binary", pos_label = "Positive"))

Accuracy: 0.48
Precision: 0.48
Recall: 1.0

In [88]:
GM = GM[["compound","pos","neu","neg","P/N"]]

GM.head()

   compound       pos       neu       neg        P/N
0  0.567400  0.210231  0.709692  0.080154   Positive
1  0.113950  0.122500  0.782750  0.094750   Positive
2 -0.029990  0.107300  0.779300  0.113300   Positive
3 -0.083683  0.075833  0.851667  0.072833  Negative
4  0.169057  0.099000  0.839000  0.062143   Positive

In [89]:
X_train, X_test, y_train, y_test = split(GM[["compound","pos","neu","neg"]],GM[["P/N"]])

In [90]:
X_scaler = StandardScaler()

In [91]:
#normalizing
X_scaler.fit(X_train)

X_train = X_scaler.transform(X_train)
X_test = X_scaler.transform(X_test)

print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(374, 4) (125, 4) (374, 1) (125, 1)

In [92]:
# Fit to the training data and validate with the test data
GMmodel = SVC(kernel='linear')
GMmodel.fit(X_train, y_train)
#Prediction
y_pred = GMmodel.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred, average="binary", pos_label="Positive" ))
print("Recall:",metrics.recall_score(y_test, y_pred, average = "binary", pos_label = "Positive"))

Accuracy: 0.552
Precision: 0.0
Recall: 0.0